<h1>Hilfssektion</h1>

<p>In dieser Sektion wird erklärt, wie genau ein Drehbuch aufgebaut sein sollte.</p>

<verbatim>
  <div class='helpsection'><h3>Formatierung</h3>

    <div>Spalte 1: Szene + Drehortbeschreibung (INT/EXT, Ort, Zeit, Index für Storyboard)

        <div>Spalte 2: Szenenbeschreibung (ggf. Übergang), Einführung der Charaktäre,
                  Atmosphärenbeschreibung, Sonstiges. Charakternamen in
                  GROSSBUCHSTABEN

            <div>Spalte 3: Charakter (wer hat das Wort?)

                <div style="height: 30px;">Spalte 4: Dialog (was wird erzählt?)</div>
            </div>
        </div>
    </div>
  </div>
</verbatim>

<h4>Beispiel</h4>
<div class="helpsection-drehbuch">
    <div>SCENE 1: BEFREIHUNG
         INT, --, --, --

         <div>PERSON X geht seinem normalen Lebensstil nach.</div>
    </div>

    <div>INT, WHG. TEILNEHMER 1, TAG, 12a + 12b

        <div>Er schläft unruhig und verbringt viel Zeit vor dem Computer. PERSON Y
             spricht aus dem Offset.

            <div>PERSON Y
                <div>Ich habe Dich gesucht.</div>
            </div>
        </div>
    </div>
</div>