<h1>Listing messages</h1>

<table class="table table-bordered table-hover ui-widget ui-widget-content">
 <thead class="ui-widget-header">
  <tr>
    <th>Sender</th>
    <th>Object</th>
    <th>Response</th>
  </tr>
 </thead>
<tbody>
<% @messages.each do |message| %>
  <tr>
    <td><%= message.sender %></td>
    <td><%= message.object %></td>
    <td><button class="btn" id="center-button" onclick="annehmen('<%=message.content%>')">annehmen</button></td>
  </tr>
<% end %>
</tbody>
</table>

<script>
    function annehmen(url){ // current, user
    $.ajax({
        type: "GET",
        url:  url,
        dataType: "text",
        success: function(result){
            alert(result);
        },
        error: function(xhr, status, err){
            alert(err);
        }
    });
}
</script>

<br />
