<h1>Gruppen</h1>

<table class="table table-bordered table-hover ui-widget ui-widget-content">
<thead>
  <tr class="ui-widget-header">
    <th>Gruppenname</th>
    <th>Gruppe</th>
    <th>Benutzer</th>
    <th>Projekte</th>
  </tr>
</thead>
</tbody>
<% @groups.each do |group| %>
  <tr>
    <td><%= group.status %></td>
    <td><%= group.num %></td>
    <td><% (group.users).each { |user| %>
        <%= link_to user.first_name, user %>
    <%} %></td>
    <td>
      <% (group.projects).each { |project| %>
          <%= link_to project.name, project %>
      <%} %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<br />
<div class="btn-center">
    <button class="btn-large" onclick="groupAnlegen()" type="submit">Neue Gruppe</button>
</div>

<div class="ui-widget" id="dialog-group" title="Create a group">
  <p class="group_error" style="color: red;"></p>
  <p class="group_tips" style="color: blue;"></p>
  <form>
    <fieldset>
      <label for="group_name">Gruppenname:</label>
      <input type="text" id="group_name" />
      <label for="group_number">Gruppennummer:</label>
      <input type="text" id="group_number" />
    </fieldset>
  </form>
</div>


<div id="popup"></div>

<div class="ui-widget" id="group_warnung"></div>

<br />
<script>
    function groupAnlegen(){ // current, user
        $("#dialog-group").dialog("open");
    }

    (function($){
        $.widget( "ui.combobox", {
            _create: function() {
                $('#dialog-group').hide();
                var select = this.element,
                        selected = select.children(":selected"),
                        tips = $(".group_tips"),
                        errorTips = $(".group_error"),
                        value = selected.val() ? selected.text() : "";

                function updateTips(tips){
                    tips.addClass("ui-state-highlight");
                    setTimeout(function(){
                        tips.removeClass("ui-state-highlight", 1500);
                    }, 500);
                }

                $("#group_warnung").dialog({
                    autoOpen: false,
                    height: 300,
                    width: 300,
                    modal: true,
                    buttons: {
                        "Ok": function(){
                            $(this).dialog("close");
                        }
                    }
                });

                $("#dialog-group").dialog({
                    autoOpen: false,
                    height: 300,
                    width: 350,
                    modal: true,
                    buttons: {
                        "Ok": function(){
                            if(selected.val() == ""){
                                updateTips(tips);
                                return;
                            }else{
                                var data = JSON.stringify({gName: $('#group_name').val(), gNumber:  $('#group_number').val()});
                                var that = this;
                                $.ajax({
                                    type: "POST",
                                    url:  '/groups/create',
                                    contentType: "application/json",
                                    dataType: "json",
                                    data: data,
                                    success: function(result){
                                        $(that).dialog("close");
                                        var but = $("<button>", {id: "but"});
                                        $(that).append(but);
                                        but.click(function(){location.reload()});
                                        $("#but").click();
                                        $(that).remove(but);
                                        $('#group_name').val("");
                                    },
                                    error: function(xhr, status, err){
                                        $(".group_error").html(err);
                                        updateTips(errorTips)
                                    }
                                });
                            }
                        },
                        Cancel: function(){
                          $("#dialog-group").dialog("close");
                          var but = $("<button>", {id: "but"});
                          $("#dialog-group").append(but);
                          but.click(function(){location.reload()});
                          $("#but").click();
                          $("#dialog-group").remove(but);
                          $('#group_name').val("");
                        }
                    }
                });
            },
            _destroy: function() {
                this.element.show();
            }
        });
    })(jQuery);
    $("#group_number").combobox();
</script>
