<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <% @pads.each do |p| %>
        <li class="active"><a href="http://piratepad.net/<%= p.pad_url %>?fullScreen=1" target="pad-frame" data-toggle="tab" onclick="changeContent(<%= p.to_json %>)">Pad</a></li>
    <% end %>
        <li><a href="/pads/new?name=<%= @project.name %>"><img src="<%= asset_path 'Plus_sign.png' %>" width="10px" /> New Pad</a></li>
  </ul>
</div>

