<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <% @pads.each do |p| %>
        <% @link = "http://localhost:9001/p/#{p.pad_url}?fullScreen=1"%>
        <li class="active"><a href="<%=@link%>" target="pad-frame" data-toggle="tab" onclick="changeContent(<%= p.to_json %>)"> <%= p.title %> </a></li>
    <% end %>
        <li><a href="#" onclick="anlegen()"><img src="<%= asset_path 'Plus_sign.png' %>" width="10px" /> New Pad</a></li>
  </ul>
</div>

