<div id="story" style="overflow: auto;display: inline">
  <% @frames.each do |p| %>
      <div class="image-thumb">
        <img src="<%= asset_path 'screenplay.gif' %>" />
        <p class="property-title"><%= p.p_name %></p>
      </div>
  <% end %>
</div>